<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymleaf/layout"
      layout:decorator="template"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>

    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="webjars\bootstrap\4.1.3\css\bootstrap.min.css">
</head>

<body>
<section layout:fragment="pagecontent">

<img th:src="@{https://images6.alphacoders.com/533/533594.jpg}" th:width="1600" th:height="900"/>

</section>

</body>
</html>